<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884056627282-stbg7toou8dahb68n2ma63bdi8eg9bog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884056627282-stbg7toou8dahb68n2ma63bdi8eg9bog</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>884056627282-135qkmhcfp5uaio6555fm9df7m0ns5ju.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-EsfHg4uL3W9m-TNo5qysn4OTtyFEh0w</string>
	<key>GCM_SENDER_ID</key>
	<string>884056627282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>doha.roots.app</string>
	<key>PROJECT_ID</key>
	<string>doha-roots-app</string>
	<key>STORAGE_BUCKET</key>
	<string>doha-roots-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884056627282:ios:00cfd3fa3789b940c3e78b</string>
	<key>DATABASE_URL</key>
	<string>https://doha-roots-app.firebaseio.com</string>
</dict>
</plist>